In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("./Data/TestDataset.csv")
df.head()

,ID,HostelName,locality,pincode,latitude,longitutde,review,Rating,wifi,ac,laundry,security,price
0,1,SMP Group of PGs,Raghuvanahalli,560062,12.88291,77.54605,NaN,4.4,1.0,1.0,1.0,1.0,4500
1,2,Royal New Luxury PG for Ladies,NaN,560068,12.89876,77.62802,good,4.0,1.0,1.0,1.0,1.0,3000
2,3,OM Sai Lakshmi PG,NaN,560070,12.92400,77.56070,NaN,5.0,NaN,NaN,NaN,NaN,5000
3,4,The Beehive Hostel Luxury mens PG,NaN,560070,12.92409,77.57172,NaN,4.4,NaN,NaN,NaN,NaN,6000
4,5,ELITE GIRLS PG / HOSTEL,NaN,560111,12.91061,77.56479,NaN,4.9,NaN,NaN,NaN,NaN,5700

In [3]:
def Add_review(df):
    for i in range(len(df)-1):
        if int(df.Rating[i])>4.5:
            df.review[i]="good"
        elif  int(df.Rating[i])<=4.5 and int(df.Rating[i])>3.5:
            df.review[i]="average"
        else:
            df.review[i]="bad"

In [4]:
Add_review(df)
df.head(10)

C:\Users\lahar\AppData\Local\Temp\ipykernel_10720\1490814000.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.review[i]="average"
C:\Users\lahar\AppData\Local\Temp\ipykernel_10720\1490814000.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.review[i]="good"
C:\Users\lahar\AppData\Local\Temp\ipykernel_10720\1490814000.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.review[i]="bad"

,ID,HostelName,locality,pincode,latitude,longitutde,review,Rating,wifi,ac,laundry,security,price
0,1,SMP Group of PGs,Raghuvanahalli,560062,12.88291,77.54605,average,4.4,1.0,1.0,1.0,1.0,4500
1,2,Royal New Luxury PG for Ladies,NaN,560068,12.89876,77.62802,average,4.0,1.0,1.0,1.0,1.0,3000
2,3,OM Sai Lakshmi PG,NaN,560070,12.92400,77.56070,good,5.0,NaN,NaN,NaN,NaN,5000
3,4,The Beehive Hostel Luxury mens PG,NaN,560070,12.92409,77.57172,average,4.4,NaN,NaN,NaN,NaN,6000
4,5,ELITE GIRLS PG / HOSTEL,NaN,560111,12.91061,77.56479,average,4.9,NaN,NaN,NaN,NaN,5700
5,6,home town paying guest,NaN,560005,12.99649,77.61714,average,4.2,NaN,NaN,NaN,NaN,6500
6,7,Rentorio Hostel,NaN,560016,12.88129,77.59643,good,5.0,NaN,NaN,NaN,NaN,8000
7,8,Covie Bannerghatta 185 Paying Guest/Hostels,NaN,560076,12.87567,77.60382,good,5.0,NaN,NaN,NaN,NaN,12000
8,9,SA PG,NaN,560041,12.93053,77.59516,good,5.0,NaN,NaN,NaN,NaN,6500
9,10,Hive Hostels,NaN,560076,12.87815,77.59775,average,4.8,NaN,NaN,NaN,NaN,5000

In [5]:
df['wifi'].isnull().sum()

27

In [6]:
def Add_ammenities(df):
   
    for i in range(len(df)):
        if int(df.price[i])>=5000:
            df.ac[i]=1
            df.wifi[i]=1
            df.laundry[i]=1
            df.security[i]=1
        else:
            df.ac[i]=0
            df.wifi[i]=1
            df.laundry[i]=0
            df.security[i]=1

In [7]:
Add_ammenities(df)
df.head(10)

C:\Users\lahar\AppData\Local\Temp\ipykernel_10720\3051163714.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.ac[i]=0
C:\Users\lahar\AppData\Local\Temp\ipykernel_10720\3051163714.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.wifi[i]=1
C:\Users\lahar\AppData\Local\Temp\ipykernel_10720\3051163714.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.laundry[i]=0
C:\Users\lahar\AppData\Local\Temp\ipykernel_10720\3051163714.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.security[i]=1
C:\Users\lahar\AppData\Local\Temp\ipykernel_10720\3051163714.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.ac[i]=1
C:\Users\lahar\AppData\Local\Temp\ipykernel_10720\3051163714.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.wifi[i]=1
C:\Users\lahar\AppData\Local\Temp\ipykernel_10720\3051163714.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.laundry[i]=1
C:\Users\lahar\AppData\Local\Temp\ipykernel_10720\3051163714.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.security[i]=1

,ID,HostelName,locality,pincode,latitude,longitutde,review,Rating,wifi,ac,laundry,security,price
0,1,SMP Group of PGs,Raghuvanahalli,560062,12.88291,77.54605,average,4.4,1.0,0.0,0.0,1.0,4500
1,2,Royal New Luxury PG for Ladies,NaN,560068,12.89876,77.62802,average,4.0,1.0,0.0,0.0,1.0,3000
2,3,OM Sai Lakshmi PG,NaN,560070,12.92400,77.56070,good,5.0,1.0,1.0,1.0,1.0,5000
3,4,The Beehive Hostel Luxury mens PG,NaN,560070,12.92409,77.57172,average,4.4,1.0,1.0,1.0,1.0,6000
4,5,ELITE GIRLS PG / HOSTEL,NaN,560111,12.91061,77.56479,average,4.9,1.0,1.0,1.0,1.0,5700
5,6,home town paying guest,NaN,560005,12.99649,77.61714,average,4.2,1.0,1.0,1.0,1.0,6500
6,7,Rentorio Hostel,NaN,560016,12.88129,77.59643,good,5.0,1.0,1.0,1.0,1.0,8000
7,8,Covie Bannerghatta 185 Paying Guest/Hostels,NaN,560076,12.87567,77.60382,good,5.0,1.0,1.0,1.0,1.0,12000
8,9,SA PG,NaN,560041,12.93053,77.59516,good,5.0,1.0,1.0,1.0,1.0,6500
9,10,Hive Hostels,NaN,560076,12.87815,77.59775,average,4.8,1.0,1.0,1.0,1.0,5000

In [8]:
df.wifi.isnull().sum()
df.head(30)

,ID,HostelName,locality,pincode,latitude,longitutde,review,Rating,wifi,ac,laundry,security,price
0,1,SMP Group of PGs,Raghuvanahalli,560062,12.88291,77.54605,average,4.4,1.0,0.0,0.0,1.0,4500
1,2,Royal New Luxury PG for Ladies,NaN,560068,12.89876,77.62802,average,4.0,1.0,0.0,0.0,1.0,3000
2,3,OM Sai Lakshmi PG,NaN,560070,12.92400,77.56070,good,5.0,1.0,1.0,1.0,1.0,5000
3,4,The Beehive Hostel Luxury mens PG,NaN,560070,12.92409,77.57172,average,4.4,1.0,1.0,1.0,1.0,6000
4,5,ELITE GIRLS PG / HOSTEL,NaN,560111,12.91061,77.56479,average,4.9,1.0,1.0,1.0,1.0,5700
5,6,home town paying guest,NaN,560005,12.99649,77.61714,average,4.2,1.0,1.0,1.0,1.0,6500
6,7,Rentorio Hostel,NaN,560016,12.88129,77.59643,good,5.0,1.0,1.0,1.0,1.0,8000
7,8,Covie Bannerghatta 185 Paying Guest/Hostels,NaN,560076,12.87567,77.60382,good,5.0,1.0,1.0,1.0,1.0,12000
8,9,SA PG,NaN,560041,12.93053,77.59516,good,5.0,1.0,1.0,1.0,1.0,6500
9,10,Hive Hostels,NaN,560076,12.87815,77.59775,average,4.8,1.0,1.0,1.0,1.0,5000
10,11,Abuzz Oxfordcaps,NaN,560076,13.92747,77.67487,average,4.1,1.0,0.0,0.0,1.0,3500
11,12,Sudarshan Luxury Living - Hulimavu,NaN,560076,12.88318,77.59484,bad,3.7,1.0,1.0,1.0,1.0,8000
12,13,Shivrang PG For Gents,NaN,560062,12.88379,77.57232,average,4.2,1.0,1.0,1.0,1.0,5000
13,14,New Sri Vaishnavi Gents Pg,NaN,560078,12.89688,77.57112,bad,3.7,1.0,1.0,1.0,1.0,5000
14,15,zolo icarus,NaN,560078,12.88908,77.57316,average,4.0,1.0,1.0,1.0,1.0,10000
15,17,"Amma Ladies PG, Water tank road",NaN,560085,12.93189,77.54633,average,4.0,1.0,1.0,1.0,1.0,10000
16,18,Shree Nideshwara Ladies Pg,NaN,560078,12.91619,77.58640,average,4.5,1.0,1.0,1.0,1.0,5000
17,19,Sri Balaji Luxurious Ladies Pg,NaN,560078,12.91416,77.58576,average,4.9,1.0,1.0,1.0,1.0,5000
18,20,SS LUXURY FOR GENTS AND LADIES PG,NaN,560076,12.89152,77.59405,bad,3.9,1.0,0.0,0.0,1.0,4000
19,21,Ss Comforts Gents Pg,NaN,560076,12.90146,77.60116,average,4.9,1.0,1.0,1.0,1.0,6000
20,23,Fourth Pg Accommodation,NaN,560011,12.92898,77.58267,bad,3.9,1.0,1.0,1.0,1.0,7000
21,24,My Home Pg For Men,NaN,560004,12.93496,77.57154,bad,3.8,1.0,1.0,1.0,1.0,5000
22,25,ATITHI BOYS PG,NaN,560078,12.89654,77.58294,average,4.1,1.0,1.0,1.0,1.0,5000
23,26,ELITE GIRLS PG / HOSTEL,NaN,560111,12.94084,77.58229,average,4.9,1.0,0.0,0.0,1.0,4700
24,27,Lohitha Girl's PG,NaN,560078,12.92746,77.55895,average,4.6,1.0,1.0,1.0,1.0,6000
25,28,Anagha Girls PG,NaN,560078,12.97296,77.55620,average,4.9,1.0,1.0,1.0,1.0,7000
26,29,Ganapa's Boys PG,NaN,560078,12.97201,77.54960,average,4.6,1.0,1.0,1.0,1.0,5000
27,30,SAGAR BOYS PG,NaN,560078,12.98271,77.57294,bad,3.8,1.0,0.0,0.0,1.0,4500
28,31,Yashoda Girls PG,NaN,560078,12.98539,77.53724,NaN,4.1,1.0,1.0,1.0,1.0,5500

In [9]:
df1=df.drop('locality',axis='columns')[0:-2]
df1.drop
df1.head()
df1.to_csv("AFterClean.csv")
df1=pd.read_csv("AFterClean.csv")

In [10]:
# Import required libraries
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import silhouette_score

# Load data
#data =df1

# Select features
features = ['latitude', 'longitutde', 'price', 'Rating', 'wifi', 'ac', 'laundry', 'security']

# Preprocess data
X = df1[features]
#X = pd.get_dummies(X, columns=['review'])

print(X.head())

scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

# Determine optimal number of clusters
silhouette_scores = []
for n_clusters in range(2, 10):
    kmeans = KMeans(n_clusters=n_clusters, random_state=42)
    cluster_labels = kmeans.fit_predict(X_scaled)
    silhouette_scores.append(silhouette_score(X_scaled, cluster_labels))
    

optimal_n_clusters = np.argmax(silhouette_scores) + 2



# Perform clustering
kmeans = KMeans(n_clusters=optimal_n_clusters, random_state=42)
cluster_labels = kmeans.fit_predict(X_scaled)

# Add cluster labels to original dataset
df1['cluster'] = cluster_labels
def recommend_hostels(latitude, longitude, price, wifi,ac,laundry, security,Rating):
    user_input = pd.DataFrame({
        'latitude': [latitude],
        'longitutde': [longitude],
        'price': [price],
        'Rating':[Rating],
        'wifi': [wifi],
        'ac': [ac],
        'laundry': [laundry],
        'security': [security]
    })
    #user_input = pd.get_dummies(user_input, columns=['wifi', 'ac', 'laundry', 'security'])
    user_input_scaled = scaler.transform(user_input)
    user_cluster = kmeans.predict(user_input_scaled)[0]
    recommended_hostels = df1[df1['cluster'] == user_cluster].sort_values('Rating', ascending=False)
    return recommended_hostels[['HostelName', 'price', 'Rating']]

# Example usage
print("Kmeans Algorithm")

recommend_hostels(latitude=12.87767, longitude=73.9996, price=8000, wifi= 0, ac=0, laundry= 1, security=1,Rating=3.7)

   latitude  longitutde  price  Rating  wifi   ac  laundry  security
0  12.88291    77.54605   4500     4.4   1.0  0.0      0.0       1.0
1  12.89876    77.62802   3000     4.0   1.0  0.0      0.0       1.0
2  12.92400    77.56070   5000     5.0   1.0  1.0      1.0       1.0
3  12.92409    77.57172   6000     4.4   1.0  1.0      1.0       1.0
4  12.91061    77.56479   5700     4.9   1.0  1.0      1.0       1.0
Kmeans Algorithm

                                     HostelName  price  Rating
2                             OM Sai Lakshmi PG   5000     5.0
6                               Rentorio Hostel   8000     5.0
7   Covie Bannerghatta 185 Paying Guest/Hostels  12000     5.0
8                                         SA PG   6500     5.0
17               Sri Balaji Luxurious Ladies Pg   5000     4.9
4                       ELITE GIRLS PG / HOSTEL   5700     4.9
25                              Anagha Girls PG   7000     4.9
19                         Ss Comforts Gents Pg   6000     4.9
9                                  Hive Hostels   5000     4.8
24                            Lohitha Girl's PG   6000     4.6
26                             Ganapa's Boys PG   5000     4.6
16                   Shree Nideshwara Ladies Pg   5000     4.5
3             The Beehive Hostel Luxury mens PG   6000     4.4
12                        Shivrang PG For Gents   5000     4.2
5                        home town paying guest   6500     4.2
22                               ATITHI BOYS PG   5000     4.1
15              Amma Ladies PG, Water tank road  10000     4.0
14                                  zolo icarus  10000     4.0
20                      Fourth Pg Accommodation   7000     3.9
21                           My Home Pg For Men   5000     3.8
13                   New Sri Vaishnavi Gents Pg   5000     3.7
11           Sudarshan Luxury Living - Hulimavu   8000     3.7

In [11]:
# Import required libraries
import pandas as pd
import numpy as np
from sklearn.cluster import DBSCAN
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import silhouette_score

# Load data
#data = pd.read_csv('hostel_pg_data.csv')

# Select features
features = ['latitude', 'longitutde', 'price', 'Rating', 'wifi', 'ac', 'laundry', 'security']

# Preprocess data
X = df1[features]
#X = pd.get_dummies(X, columns=['wifi', 'ac', 'laundry', 'security'])
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

# Determine optimal values of eps and min_samples
silhouette_scores = []
for eps in np.arange(0.1, 2.1, 0.1):
    for min_samples in range(2, 11):
        dbscan = DBSCAN(eps=eps, min_samples=min_samples)
        cluster_labels = dbscan.fit_predict(X_scaled)
        if len(np.unique(cluster_labels)) > 1:
            silhouette_scores.append((eps, min_samples, silhouette_score(X_scaled, cluster_labels)))

optimal_params = max(silhouette_scores, key=lambda x: x[2])
optimal_eps, optimal_min_samples, optimal_score = optimal_params


print('Optimal eps:', optimal_eps)
print('Optimal min_samples:', optimal_min_samples)
print('Optimal silhouette score:', optimal_score)

# Perform clustering
dbscan = DBSCAN(eps=optimal_eps, min_samples=optimal_min_samples)
cluster_labels = dbscan.fit_predict(X_scaled)

# Add cluster labels to original dataset
df1['cluster'] = cluster_labels

# Define function to recommend hostels/PGs based on user's preferences
def recommend_hostels(latitude, longitude, price, wifi,ac,laundry, security,Rating):
    user_input = pd.DataFrame({
        'latitude': [latitude],
        'longitutde': [longitude],
        'price': [price],
        'Rating':[Rating],
        'wifi': [wifi],
        'ac': [ac],
        'laundry': [laundry],
        'security': [security]
    })
    user_input = pd.get_dummies(user_input)
    user_input_scaled = scaler.transform(user_input)
    user_cluster = dbscan.fit_predict(user_input_scaled)[0]
    recommended_hostels = df1[df1['cluster'] == user_cluster].sort_values('Rating', ascending=False)
    return recommended_hostels[['HostelName', 'price', 'Rating']]

# Example usage
print("dbscan Algorithm")
recommend_hostels(latitude=12.87, longitude=78.9996, price=3000, wifi= 1, ac=1, laundry= 1, security=1,Rating=4.0)

Optimal eps: 2.0
Optimal min_samples: 3
Optimal silhouette score: 0.5231443148580899
dbscan Algorithm

                           HostelName  price  Rating
23            ELITE GIRLS PG / HOSTEL   4700     4.9
0                    SMP Group of PGs   4500     4.4
10                   Abuzz Oxfordcaps   3500     4.1
1      Royal New Luxury PG for Ladies   3000     4.0
18  SS LUXURY FOR GENTS AND LADIES PG   4000     3.9